In [6]:
import io
import zipfile
import requests
import networkx as nx
import numpy as np
import pandas as pd
import json
import smopy
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pip install smopy

Collecting smopy
  Downloading smopy-0.0.7-py3-none-any.whl (6.1 kB)
Requirement already satisfied: six in d:\programdata\anaconda3\lib\site-packages (from smopy) (1.14.0)
Requirement already satisfied: ipython in d:\programdata\anaconda3\lib\site-packages (from smopy) (7.12.0)
Requirement already satisfied: pillow in d:\programdata\anaconda3\lib\site-packages (from smopy) (7.0.0)
Requirement already satisfied: numpy in d:\programdata\anaconda3\lib\site-packages (from smopy) (1.18.1)
Requirement already satisfied: matplotlib in d:\programdata\anaconda3\lib\site-packages (from smopy) (3.1.3)
Requirement already satisfied: traitlets>=4.2 in d:\programdata\anaconda3\lib\site-packages (from ipython->smopy) (4.3.3)
Requirement already satisfied: backcall in d:\programdata\anaconda3\lib\site-packages (from ipython->smopy) (0.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in d:\programdata\anaconda3\lib\site-packages (from ipython->smopy) (3.0.3)
Requirement already satisfied: setuptools>=18.5 in d:\programdata\anaconda3\lib\site-packages (from ipython->smopy) (45.2.0.post20200210)
Requirement already satisfied: colorama; sys_platform == "win32" in d:\programdata\anaconda3\lib\site-packages (from ipython->smopy) (0.4.3)
Requirement already satisfied: decorator in d:\programdata\anaconda3\lib\site-packages (from ipython->smopy) (4.4.1)
Requirement already satisfied: jedi>=0.10 in d:\programdata\anaconda3\lib\site-packages (from ipython->smopy) (0.14.1)
Requirement already satisfied: pickleshare in d:\programdata\anaconda3\lib\site-packages (from ipython->smopy) (0.7.5)
Requirement already satisfied: pygments in d:\programdata\anaconda3\lib\site-packages (from ipython->smopy) (2.5.2)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\programdata\anaconda3\lib\site-packages (from matplotlib->smopy) (1.1.0)
Requirement already satisfied: cycler>=0.10 in d:\programdata\anaconda3\lib\site-packages (from matplotlib->smopy) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in d:\programdata\anaconda3\lib\site-packages (from matplotlib->smopy) (2.4.6)
Requirement already satisfied: python-dateutil>=2.1 in d:\programdata\anaconda3\lib\site-packages (from matplotlib->smopy) (2.8.1)
Requirement already satisfied: ipython-genutils in d:\programdata\anaconda3\lib\site-packages (from traitlets>=4.2->ipython->smopy) (0.2.0)
Requirement already satisfied: wcwidth in d:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->smopy) (0.1.8)
Requirement already satisfied: parso>=0.5.0 in d:\programdata\anaconda3\lib\site-packages (from jedi>=0.10->ipython->smopy) (0.5.2)
Installing collected packages: smopy
Successfully installed smopy-0.0.7
Note: you may need to restart the kernel to use updated packages.

In [7]:
cities = pd.read_csv('us-cities.txt', sep=",", header=None)
cities.columns = ["City", "state", "longitude", "latitude", "population"]

In [9]:
cities

           City state  longitude    latitude  population
0  Port Hueneme    CA  34.155834 -119.202789       22173
1        Auburn    NY  42.933334  -76.566666       65738
2     Jamestown    NY  42.095554  -79.238609       29315
3        Fulton    MO  38.846668  -91.948059      108000

In [10]:
mean = cities["population"].mean()

In [11]:
median = cities["population"].median()

In [12]:
mean, median

(56306.5, 47526.5)

In [17]:
import HTML

In [18]:
table_data = [
        ['Mean',         mean],
        ['Median',      median],
    ]

htmlcode = HTML.table(table_data,
    header_row=['Mean',   'Median'])
print (htmlcode)

<TABLE border="1" style="border: 1px solid #000000; border-collapse: collapse;" cellpadding="4">
 <TR>
  <TH>Mean</TH>
  <TH>Median</TH>
 </TR>
 <TR>
  <TD>Mean</TD>
  <TD>56306.5</TD>
 </TR>
 <TR>
  <TD>Median</TD>
  <TD>47526.5</TD>
 </TR>
</TABLE>

In [ ]:
route1=